
<footer>
	<div class="row">
		<a href="/" class="column small-16 small-offset-4 medium-8 medium-offset-8 large-4 large-offset-0 footer__image expanded"><img src="/{{ directory }}/images/hammonds-logo.svg" alt="Hammonds the Fitted Furniture Company" /></a>
	</div>	
	<div class="row footer__menu">

			<div class="columns small-24 medium-24 large-8 right footer__menu__ctas">
			<div class="row">
				<div class="columns small-12 medium-12">
					<a class="btn btn__purple caps btn__full-width btn__small btn__big btn__margin__bottom__small" href="/design-visit">Book a design visit</a>
				</div>
				<div class="columns small-12 medium-12">
					<a class="btn btn__purple caps btn__full-width btn__small btn__big btn__margin__bottom__small" href="/find-your-local-showroom">Find a showroom</a>
				</div>
			</div>
			<div class="row">
				<div class="columns small-12 medium-12">
					<a class="btn btn__purple caps btn__full-width btn__small btn__big btn__margin__bottom__small" href="/request-your-free-brochure">Request a brochure</a>
				</div>
				<div class="columns small-12 medium-12">
					<a class="btn btn__purple caps btn__full-width btn__small btn__big btn__margin__bottom__small" href="/call-me-back">Request a call back</a>
				</div>
			</div>
			<div class="row">
				<div class="columns">
					<span class="color__purple h4 footer__menu__contact">Contact us <a class="font__zahrah__bold" href="tel:{{ globals['telephone_number']|replace({' ':''}) }}"><span class="font__zahrah">{{ globals['telephone_number'] }}</span></a></span>
				</div>
			</div>
		</div>

		<div class="columns small-24 medium-24 large-16 right">
		<nav>
			<a href="#" class="small-text caps showalllinks" id="showalllinks">Show all links</a>
			<span class="allfooterlinks">
			<span class="columns medium-6 small expanded">
				{{ render_menu('footer-menu-one') }}
				{#<ul>
					<li><a class="">Fitted Bedroom</a>
						<ul>
							<li><a class="">Bedroom storage</a></li>
							<li><a class="">Wardrobe interiors</a></li>
							<li><a class="">Co-ordinating furniture</a></li>
							<li><a class="">Finishing touches</a></li>
						</ul>
					</li>
					<li><a class="">Sliding Wardrobes</a></li>
				</ul>#}
			</span> 
			<span class="columns medium-6 small expanded">
				{{ render_menu('footer-menu-two') }}
			</span>
			<span class="columns medium-6 small expanded">
				{{ render_menu('footer-menu-three') }}
			</span>
			<span class="columns medium-6 small expanded">
				{{ render_menu('footer-menu-four') }}
			</span>
			</span>

		</nav>
	</div>

	</div>
	<span class="allfooterlinks">
	<div class="row footer__menu footer__menu__two">
		<nav class="small margin-top-small margin-bottom border__top__dotted padding-top-small"> 
			{{ render_menu('footer-menu-row') }}
		</nav>
	</div>
	</span>
	<div class="row footer__copyright">
		<p class="small">&copy; {{ "now"|date("Y") }}  Hammonds. All rights reserved.</p>
	</nav>
	</div>
</footer>
