<header>
	<div class="headermain">
		<div class="headeritems row">
		<a href="/" class="logo"><img src="/{{ directory }}/images/hammonds-logo.svg" alt="Hammonds Fitted Furniture" /></a>
		<a href="tel:08000214360" class="phone">0800 021 4360</a>
		<div class="wishlistAnchor enter-right default-transition wishlist">
			<div class="heart default-transition">
				<div class="count default-transition">{{ wishlist_count }}</div>
			</div>
			<div class="wishlist__header-panel default-transition">
				{{ wishlist }}
				{# <div class="wishlist__header-panel__full text-align__left " style="{% if wishlist is empty %}display:none;{% endif %}">
					<p class="intro">Your Hammonds favourites</p>

					<a href="/favourites" style="{% if wishlist|length > 2 %}{% else %}display:none;{% endif %}" class="caps wishlist__header-panel__see-all small-text">View/edit</a>
					<div class="results">
					{% for w_range in wishlist %}
						{{ w_range|raw }}
					{% endfor %}
					</div>
					<div class="btn__container">
						<a href="/favourites" class="btn btn__small btn__purple">Download/Print</a> <a href="/favourites" class="btn btn__small btn__purple">Save for later</a>
					</div>
				</div> #}
				{{ wishlist_pre }}
				{# <div class="wishlist__header-panel__empty text-align__center" style="{% if wishlist is empty %}{% else %}display:none;{% endif %}">
					<p class="intro">Your Hammonds favourites</p>
					<div class="heartIcon"></div>
					<p class="small">Press this heart symbol whenever you see a range you like; it will then be added to your Hammonds favourites. Login, and you will be able to download and print your favourites or save your list for another day.</p>
					<div class="btn__container">
					<a href="/favourites/sign-in" class="btn btn__small btn__purple">Sign In</a> | <a href="/favourites/sign-up" class="btn btn__small btn__purple">Sign Up</a>
					</div>
				</div> #}
			</div>
		</div>

		<div class="searchBtn"></div>

		<a href="#openNav" class="opennav">Menu
			<div class="burgercontainer">
				<div class="burger"></div>
				<div class="burger"></div>
				<div class="burger"></div>
			</div>
		</a>
		</div>
		<div class="section row text-align__center headermain__menu__links expanded-mobile off-page default-transition-two">
		<div class="headermain__menu">
			{{ render_menu('header-menu-one') }}
			{{ render_menu('header-menu-two') }}

			<span class="searchArea">
				<div class="search__box">
					<p class="intro">What are you looking for?</p>
					<form method="GET" action="/search/node">
						<input placeholder="Search" type="text" name="keys" />
						<input type="submit" value="Go">
					</form>
				</div>
			</span>

			<span class="headermain__menu__links__half headermain__menu__links__secondary">
				{# <span class="h7 caps menuLink__myaccount">My account</span> #}
				<a href="/my-account" class="btn menuLink menuLink__login">My account Login</a>
				{# <span class="h7 caps menuLink hideMobile">/</span>
				<a href="" class="btn menuLink menuLink__signup">Sign up</a> #}
			</span>

		</div>
		</div>
	</div>
	<div class="headerctas transition enter-fade">
		<div class="section row text-align__center home__carousel expanded-mobile">
			<a class="btn btn__purple caps font-weight__normal" href="/design-visit">Book a free design visit</a>
			<a class="btn btn__purple caps font-weight__normal" href="/find-your-local-showroom">Find nearest showroom</a>
			<a class="btn btn__purple caps font-weight__normal" href="/request-your-free-brochure">Request a brochure</a>
			<a class="btn btn__purple caps font-weight__normal tablet" href="tel:{{ globals['telephone_number']|replace({' ':''}) }}" >Call now {{ globals['telephone_number'] }}</a>
		</div>
	</div>
	<div class="overlay default-transition"></div>
</header>


{# <header>
	<nav>
		{{ render_menu('main') }}
	</nav>
</header> #}

{# Error messaging #}
{{ messages }}
{# Error messaging #}
